/* appbar styles */


/*main styles*/

.MuiContainer-root {
  text-align: center;
  width: 90vw;
}

/*footer styles*/
footer {
  height: 3em;
  text-align: center;
  position: fixed;
  bottom:0;
  width: 100vw;
}